h1 {
  font-family: "Unica One", sans-serif;
  color: #fff;
  position: absolute;
  width: 4.5em;
}

#eye,
h1 {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

#body {
  stroke-dasharray: 1908.791px 1908.791px;
  stroke-dashoffset: 1908.791px;
  animation: draw 1s linear forwards;
}

@keyframes draw {

  0% {
    stroke-dashoffset: 1908.791px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-violet {
  stroke-dasharray: 1917.692px;
  stroke-dashoffset: 1917.692px;
  animation: draw-v 1.25s linear forwards;
}

@keyframes draw-v {

  0% {
    stroke-dashoffset: 1917.692px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-indigo {
  stroke-dasharray: 1812.502px;
  stroke-dashoffset: 1812.502px;
  animation: draw-i 1.25s linear forwards;
}

@keyframes draw-i {

  0% {
    stroke-dashoffset: 1812.502px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-green {
  stroke-dasharray: 1596.043px;
  stroke-dashoffset: 1596.043px;
  animation: draw-g 1.25s linear forwards;
}

@keyframes draw-g {

  0% {
    stroke-dashoffset: 1596.043px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-yellow {
  stroke-dasharray: 1483.352px;
  stroke-dashoffset: 1483.352px;
  animation: draw-y 1.25s linear forwards;
}

@keyframes draw-y {

  0% {
    stroke-dashoffset: 1483.352px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-orange {
  stroke-dasharray: 1366.26px;
  stroke-dashoffset: 1366.26px;
  animation: draw-o 1.25s linear forwards;
}

@keyframes draw-o {

  0% {
    stroke-dashoffset: 1366.26px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-red {
  stroke-dasharray: 1243.044px;
  stroke-dashoffset: 1243.044px;
  animation: draw-r 1.25s linear forwards;
}

@keyframes draw-r {

  0% {
    stroke-dashoffset: 1243.044px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}
